body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  margin: 50px auto 0px auto;
  color: #66BFBF;
}
h2{
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  color: #11999E;
}
hr{
  border-style: dotted none none none;
  color: #EAF8F6;
  height: 0px;
  width: 5%;
  border-width: 5px;
  margin-top: 100px;

}
.om-img{
  margin: 50px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 3;
}
.coding-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.guitar-img{
  width: 25%;
  float: right;
}
.top-container{
  background-color: #EAF6F6;
  padding-top: 100px;
}
.middle-container{
  background-color: white;

}
.skills{
  margin-top: 50px;
}
.bottom-container{
  background-color: #66BFBF;
  margin-top: 5px;
  padding: 20px;
}
.bottom-cloud{
  position: absolute;
  left: 400px;
}
.top-cloud{
  position: relative;
  top: 50px;
  left: 200px;
}
a{
  font-family: 'Merriweather', serif;
  margin: 20px 20px;
  text-decoration: none;
}
a:link{
  color: #11999E;
}
a:visited{
  color: #11999E;
}
a:hover{
  color: #eaf6f6;
}
.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
.BUTTON {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 5px;
   color: white;
   font-family: Arial;
   font-size: 15px;
   font-weight: 100;
   padding: 10px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 10px;
}
